.navul {
  list-style-type: none;
  margin: 0;
  width: 100%;
  padding: 0;
  overflow: hidden;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;
  justify-content: space-between;
  display: flex;
}
.navul > li {
  float: left;
}
.atag {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  cursor: default;

  text-decoration: none;
}
